<div class="jumbotron">
  <div class="flexslider">
    <ul class="slides">
      <li><img src="/assets/photo.jpg" /></li>
      <li><img src="/assets/post.jpg" /></li>
      <li><img src="/assets/hard.jpg" /></li>
      <li><img src="/assets/pub.jpg" /></li>
    </ul>
  </div>
</div>
<div class="about">
  <div id="about">
    <h1>
    <div class="line left"></div>
      About us
    <div class="line right"></div
    </h1>
  </div>
  <p>
    IPA（Information Photography Association）是由幻飘摄影协会和ITU信息技术协会合并而成的社团。作为无锡一中最早创立的社团之一，IPA从未停止过前进的脚步。从最初的幻飘工作室，经过6年风雨，如今我们举办大型摄影展,制作《雕刻时光》光碟,编辑报纸，举办计算机比赛，维护学校网站。我们参加了各种全国科技创新大赛，并屡创佳绩。IPA不负众望，成长为无锡一中最成熟最强大的社团之一，收获了“无锡市十佳社团”的荣誉。这里面的每一步脚印都浸透着我们的汗水。因此，我们可以自豪的说，我们是IPA协会，我们是IPAers。我们爱摄影，爱后期，也爱装机写程序软件。
  </p>
</div>
