<script charset="utf-8">
  $(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script>
<div class="jumbotron">
  <div class="flexslider">
    <ul class="slides">
      <li><img src="/assets/photo.jpg" /></li>
      <li><img src="/assets/post.jpg" /></li>
      <li><img src="/assets/hard.jpg" /></li>
      <li><img src="/assets/pub.jpg" /></li>
    </ul>
  </div>
</div>
<div class="about">
  <div id="about">
    <h1>
    <div class="line left"></div>
      About us
    <div class="line right"></div
    </h1>
  </div>
</div>
