// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  width: 90%;
  margin: 0 auto;
}

.flexslider {
  margin: 0 auto;
  .flex-control-nav a {
    background: #FFFFFF;
  }
  .flex-active {
    background: #888888 !important;
  }
}

.about{
  #about {
    padding-top: 30px;
    text-align: center;
    h1{
      line-height: 1px;
      font-family: 'Pacifico';
      .line {
        background-color: #646464;
        height: 1px;
        width: 300px;
      }
      .left {
        float: left;
        margin-left: 60px;
      }
      .right {
        float: right;
        margin-right: 60px;
      }
    }
  }
  p {
    padding-top: 20px;
    letter-spacing: 1.2px;
    line-height: 32px;
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
    font-family: TianshiYantiYanti;
    color: #EAEAEA;
  }
}
